@media screen and (max-width: 1200px) {
	.container{
		padding: 0 15px;
	}
	main{
		padding: 70px 0 0 0;
	}
	#popup .services-form{
		padding: 50px 30px;
		margin: 0 30px;
		max-width: unset;
		width: auto;
	}
	/* product */
	.product{
		margin: 0;
	}
	.product-tab-item{
		flex-direction: column;
	}
	.calc-tab-item{
		flex-direction: column;
	}
	.product-tab-item_img-box{
		width: 100%;
		max-width: 300px;
		height: 300px;
	}
	.product-tab-item_img-box img{
		width: 100%;
		height: 100%;
	}
	.product-tab-item_info-box{
		width: 100%;
	}
	.product-tab-item_info-price{
		width: 100%;
		margin: 0 auto 10px;
		padding: 10px 10px;
		background: linear-gradient(97.09deg, #6DD16B 2.37%, #01542300 100%);
	}
	.product-tab-item_info-price p span{
		max-width: 110px;
		text-align: right;
	}
	.product-tab-item_info-box > ul li{
		font-size: 14px;
	}
	.product-tab-item_info-box > ul{
		margin: 0 auto 10px 0;
	}
	.product-tab-box{
		margin: 0 auto 70px;
	}
	.product-tab-item_info-box > p:first-child{
		font-size: 28px;
		line-height: 28px;
	}
	.product-tab-item_img-box{
		margin: 0 auto 20px 0;
	}
	.product-tab-nav{
		margin: 0 auto 30px;
	}
	.product-tab-nav li{
		font-size: 14px;
		line-height: 19px;
	}
	.product-tab-item_info-price p{
		font-size: 14px;
		line-height: 14px;
	}
	.product-carousel .owl-nav{
		width: 100%;
	}
	.product-video::before{
		width: 100%;
		right: 0;
	}
	.calc-table-item{
		height: auto;
		padding: 0;
		justify-content: space-between;
	}
	.calc-table-item-name{
		max-width: 100px;
		width: 100%;
		word-break: break-word;
		font-size: 13px;
		line-height: 20px;
		margin: 0 4px 0 0;
	}
	.calc-table-item-price{
		font-size: 14px;
		max-width: 50px;
		margin: 0 4px 0 0;
	}
	.calc-table-item-count{
		max-width: 45px;
		margin: 0 4px 0 0;
		font-size: 14px;
	}
	.calc-table-item-btn{
		margin: 0 10px 0 0;
	}
	.calc-table-header{
		height: auto;
	}
	.calc-table-header p{
		max-width: 225px;
		font-size: 18px;
		padding-left: 0;
	}
	.calc-result > p, .calc-result__box--color > p{
		padding: 0 20px;
	}
	.calc-result__box{
		margin: 0 10px 10px 20px;
	}
	.calc-result__box p:last-child{
		font-size: 14px;
	}
	.calc-result__box--color{
		margin: 16px auto 22px 0;
	}
	.calc-result a{
		max-width: 260px;
		height: 33px;
		font-size: 17px;
	}
	.product-calc{
		margin-bottom: 20px;
	}
	.calc-tab-nav li.select{
		font-size: 26px;
	}
	.calc-tab-nav li{
		height: 40px;
		font-size: 26px;
	}
	.product-calc h2{
		font-size: 26px;
		margin: 0 auto 10px;
	}
	.calc-tab-nav{
		margin: 0 auto 33px;
	}
	.product-carousel{
		margin: 0 auto 40px;
	}
	.product-carousel-item{
		margin: 0 auto;
	}
	.product-carousel .owl-nav{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.product-video iframe{
		height: 400px;
	}
	.product-video::before{
		height: 20px;
	}
	.product-video{
		height: auto;
		margin: 0 auto 80px;
	}
	.product-tab-item_order{
		margin: 0;
	}
	/*  */
	.header.active{
		left: 0%;
		z-index: 999;
		opacity: 1;
	}
	.header.active-close{
		left: -110%;
		opacity: -1;
	}
	.header-btn{
		width: 50px;
		height: 50px;
		display: flex;
		flex-direction: column;	
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.header-btn.header-btn--close span{
		background: #fff;
	}
	.header-btn--close span:nth-child(2){
		margin: 0 0 8.5px -15px;
	}
	.header-btn--close span:nth-child(3){
		margin: 0 0 auto -4px;
	}
	.header-btn span{
		display: block;
		width: 49.83px;
		height: 8.31px;
		background: linear-gradient(97.09deg, #015423 2.37%, #6DD16B 100%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		margin-bottom: auto;
		border-radius: 20px;
	}
	.header{
		opacity: -1;
		z-index: 999;
		transition: all 300ms;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: fixed;
		top: 0;
		left: 110%;
		width: 100%;
		height: 100%;
		background: linear-gradient(270deg, #015423 -42.79%, #6ED26C 93.99%), #FFFFFF;
	}
	.header-img__box{
		order: 1;
		padding: 9px 50px 9px 12px;
		max-width: 207px;
		width: 100%;
		height: 61px;
		background: url('../img/header-mobile-b.svg');
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0 0 26px;
	}
	.header-img__box img{
		max-width: 145px;
		width: 100%;
		height: 44px;
	}
	.header-info{
		order: 3;
		height: auto;
		background: transparent;
	}
	.header-phone{
		display: none;
	}
	.header-link{
		order: 4;
		max-width: 266px;
		width: 100%;
		height: 33px;
		margin: 0 auto;
		border: 0.766667px solid #FFFFFF;
		font-family: var(--font-b);
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
	}
	.header-lang{
		order: 2;
		margin: 10px 0 0 0;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		max-width: 50px;
		width: 100%;
		height: 48px;
		border: 2px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 12px;
	}
	.header-lang a{
		width: 100%;
		height: 21px;
		font-family: var(--font-b);
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: #FFFFFF;
	}
	.header-lang a.active{
		background: #FFFFFF;
		border: 2px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 12px;
		font-family: var(--font-b);
		padding: 3px 12px;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		width: 100%;
		height: 21px;
		color: #48A653;
	}
	.header-nav{
		width: 100%;
	}
	.header-nav > ul > li:last-child ul{
		display: flex;
	}
	.header-nav > ul{
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		margin: 0px 30px;
	}
	.header-nav > ul > li{
		width: 100%;
		height: auto;
	}
	.header-nav > ul > li > a{
		font-family: var(--font-b);
		font-size: 30px;
		line-height: 37px;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		padding: 10px 0 13px;
		height: auto;
	}
	.header-nav > ul > li::before{
		position: absolute;
		height: 2px;
		width: 290px;
		left: 0;
		top: 0;
		margin: auto auto 0 0;
		bottom: 0;
		background: url('../img/header-ul-li-mb.svg');
	}
	.header-nav > ul > li > ul{
		opacity: 1;
		background: transparent;
		display: flex;
		flex-direction: column;
		position: static;
		height: 120px;
		max-width: 353px;
		width: 100%;
		margin: -10px 0 0 0;
		padding: 0px 0 0 20px;
	}
	.header-nav > ul > li > ul > li > a{
		font-family: var(--font);
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;

	}
	/*  */
	.packs-items, .reviews-info, .services-form, .sales-tab, .sales-tab-content__items, .discounts-item, .footer-box{
		flex-direction: column;
	}
	.discounts-item-img::before{
		content: unset;
	}
	.discounts-items .discounts-item:nth-child(even) .discounts-item-img{
		margin: 0 auto 25px;
		order: 1;
	}
	.reviews-info .reviews-box{
		order: 1;
	}
	.reviews-info .reviews-img{
		order: 2;
	}
	.reviews-info .reviews-img img{
		width: 100%;
	}
	/*  */
	.homebanner{
		height: auto;
		background: unset;
		padding: 0;
	}
	.homebanner-info::before{
		background-repeat: no-repeat;
		background-position: top center;
		height: 290px;
		right: 0;
	}
	.homebanner-info{
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
	.homebanner-info img{
		width: 100%;
		max-width: 290px;
		padding: 60px 40px;
		margin: 0 auto 75px;
	}
	.services-items{
		justify-content: center;
	}
	.services-inputs{
		width: 100%
	}
	.services-form{
		max-width: 652px;
	}
	.services-inputs label{
		width: 100%;
	}
	.services-form p{
		font-size: 28px;
	}
	.services-inputs input[type="button"]{
		width: 100%;
	}
	.packs-item{
		margin: 0 auto 15px;
	}
	.packs-form::before{
		width: 100%;
		right: 0;
	}
	.packs-items{
		margin: 0 auto 75px;
	}
	.packs{
		padding-bottom: 50px;
	}
	.sales-tab-nav li{
		margin: 0 auto 10px;
	}
	.sales-tab-content__item{
		margin: 0 auto 10px 0;
	}
	.sales{
		padding-bottom: 60px;
	}
	.discounts-items{
		max-width: 652px;
		display: flex;
		margin: 0 auto;
	}
	.discounts-item-img{
		height: 300px;
		margin: 0 auto 25px;
	}
	.discounts-item-info p:not(:first-child){
		margin: 0 auto 25px 0;
	}
	.discounts{
		padding-bottom: 12px;
	}
	.reviews-box .reviews-items:nth-child(even){
		margin: 0 auto 15px;
	}
	.reviews-box .reviews-items{
		margin: 0 auto 15px;
	}
	.reviews-box{
		margin: 0 auto 15px;
	}
	.reviews-img{
		margin-right: 0;
	}
	.footer-column{
		width: 100%;
		margin: 0 auto 25px;
	}
	/* blog */
	.blog-item{
		flex-direction: column;
	}
	.blog-item img{
		margin: 0 auto 25px 0;
	}
	.blog-nav{
		flex-wrap: wrap;
	}
	.blog-nav ul{
		order: 1;
	}
	.blog-nav button{
		order: 2;
	}
	.blog-arrows{
		margin: 0 auto;
	}
}
@media screen and (min-width: 500px) and (max-width:1200px){
	.blog-nav button{
		order: 1;
	}
	.blog-nav button.blog-next{
		order: 3;
	}
}
@media screen and (min-width: 950px) and (max-width: 1200px){
	.packs-items{
		flex-direction: unset;
		flex-wrap: wrap;
	}
	.sales-tab{
		flex-direction: unset;
	}
	.sales-tab-nav{
		max-width: 250px;
		margin-right: 15px;
	}
	.sales-tab-nav li{
		width: 100%;
	}
	.sales-tab-content__items{
		flex-direction: unset;
	}
	.sales-tab-content__item{
		max-width: 200px;
		margin: 0 auto;
	}
	.sales-tab-content__item img{
		width: 200px;
		height: 200px;
	}
	.sales-tab-content__item p:not(.sales-tab-content__item-price){
		font-size: 16px;
		line-height: 16px;
	}
	.footer-box{
		flex-direction: unset;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1440px){
	.container{
		padding: 0 15px;
	}
	.homebanner-info{
		margin: 0 auto;
	}
	.homebanner-info p{
		color: #fff;
		text-shadow: 1px 1px 5px #000;
	}
	.packs-form::before{
		right: 0;
	}
	.discounts-item{
		padding: 0 20px;
	}
	.discounts-item-img::before{
		width: calc(100% + 20px);
		left: -9px;
	}
	.footer{
		padding: 92px 20px 88px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1900px){
	/*  */
	.header{
		margin: 10px 0;
	}
	.header-phone{
		padding: 0 20px 0 0;
	}
	.header-phone a{
		font-size: 12px;
	}
	.header-info{
		width: auto;
		margin: 0 auto;
		padding: 0 50px;
		max-width: unset;
		justify-content: center;
		background: linear-gradient(270deg, #015423 -42.79%, #6ED26C 93.99%);
		border-radius: 100px;
		background-size: contain;
	}
	.header-lang{
		margin: 0 18px 0 0;
		max-width: 100px;
	}
	.header-lang a.active{
		width: 50px;
	}
	.header-lang a{
		width: 50px;
		font-size: 14px;
	}
	.header-link{
		max-width: 200px;
		font-size: 18px;
	}
	.header-img__box{
		max-width: 150px;
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	.header-img__box img{
		width: 100%;
	}
	.header-nav > ul > li > a{
		font-size: 14px;
		padding: 0 15px;
	}
	/*  */
}